<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vlaamse Woonbalans{% endblock %}</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css">
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}

<script src="static/js/map.js"></script>
<script src="static/js/scroll-effects.js"></script>
<script src="static/js/animations.js"></script>
{% block extra_js %}{% endblock %}
</body>
</html>